<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">{{title}}</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newTask">Add task</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
