<div class="card-box">
  <h4 class="header-title m-b-30">Comments</h4>

  <div>
    <div *ngIf="comments.length">
      <div class="media m-b-20" *ngFor="let comment of comments">
        <div class="media-body">
          <h5 class="mt-0">{{comment.title}}</h5>
          <p class="font-13 text-muted mb-0">{{comment.content}}</p>
        </div>
      </div>
    </div>

    <br />

    <app-comment-form class="media m-b-20"
      (addComment)="addComment($event)">
    </app-comment-form>
  </div>
</div>
